.Home {
    display: grid;
    grid-template-columns: repeat(5, 0.7fr);
    flex-wrap: wrap;
    justify-items: center;
}

@media (max-width: 1280px) {
    .Home {
        grid-template-columns: repeat(4, 0.7fr);
    }
}

@media (max-width: 980px) {
    .Home {
        grid-template-columns: repeat(3, 0.7fr);
    }
}

@media (max-width: 740px) {
    .Home {
        grid-template-columns: repeat(2, 0.7fr);
    }
}

@media (max-width: 520px) {
    .Home {
        grid-template-columns: repeat(1, 0.7fr);
    }
}